:root {
  --text: #fff;
  --muted: #c8c8d4;
  --accent: #ffffff;
  --card: rgba(255, 255, 255, 0.08);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, Noto Sans, Apple Color Emoji, Segoe UI Emoji;
  color: var(--text);
  background: linear-gradient(to top right, #000 -30%, var(--accent) 100%);
  transition: background 600ms ease-in-out;
}

button,
input {
  font: inherit;
  color: inherit;
}
